<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	 <bean id="baseDAO" class="org.express.deliver.dao.impl.BaseDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!--user用户-->
	<bean id="userDAOImpl" class="org.express.deliver.dao.impl.UserDAOImpl"></bean>
	<bean id="userManagerBase" class="org.express.deliver.manager.impl.UserManagerImpl">
		<property name="userDAO" ref="userDAOImpl"></property>
	</bean>

	<!--  此处为代理-->
	<bean name="userManager" parent="transactionProxy">
		<property name="target" ref="userManagerBase"></property>
	</bean> 
	<!-- order订单 -->
	<bean id="orderDAOImpl" class="org.express.deliver.dao.impl.OrderDAOImpl"></bean>
	<bean id="orderManagerBase" class="org.express.deliver.manager.impl.OrderManagerImpl">
		<property name="orderDAO" ref="orderDAOImpl"></property>
	</bean>

	<!--  此处为代理-->
	<bean name="orderManager" parent="transactionProxy">
		<property name="target" ref="orderManagerBase"></property>
	</bean> 
</beans>
