<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="baseDAO" class="org.express.deliver.dao.impl.BaseDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!--1、user用户 -->
	<bean id="userDAOImpl" class="org.express.deliver.dao.impl.UserDAOImpl"></bean>
	<bean id="userManagerBase" class="org.express.deliver.manager.impl.UserManagerImpl">
		<property name="userDAO" ref="userDAOImpl"></property>
	</bean>

	<!-- 此处为代理 -->
	<bean name="userManager" parent="transactionProxy">
		<property name="target" ref="userManagerBase"></property>
	</bean>
	<!-- 2、order订单 -->
	<bean id="orderDAOImpl" class="org.express.deliver.dao.impl.OrderDAOImpl"></bean>
	<bean id="orderManagerBase" class="org.express.deliver.manager.impl.OrderManagerImpl">
		<property name="orderDAO" ref="orderDAOImpl"></property>
	</bean>

	<!-- 此处为代理 -->
	<bean name="orderManager" parent="transactionProxy">
		<property name="target" ref="orderManagerBase"></property>
	</bean>
	<!--3、 BusinessActivities 商家列表 -->
	<bean id="businessactivitiesDAOImpl" class="org.express.deliver.dao.impl.BusinessActivitiesDAOImpl"></bean>
	<bean id="businessactivitiesManagerBase"
		class="org.express.deliver.manager.impl.BusinessActivitiesManagerImpl">
		<property name="businessactivitiesDAO" ref="businessactivitiesDAOImpl"></property>
	</bean>

	<!-- 此处为代理 -->
	<bean name="businessactivitiesManager" parent="transactionProxy">
		<property name="target" ref="businessactivitiesManagerBase"></property>
	</bean>
	<!-- 4、Goods 货物 -->
	<bean id="goodsDAOImpl" class="org.express.deliver.dao.impl.GoodsDAOImpl"></bean>
	<bean id="goodsManagerBase" class="org.express.deliver.manager.impl.GoodsManagerImpl">
		<property name="goodsDAO" ref="goodsDAOImpl"></property>
	</bean>

	<!-- 此处为代理 -->
	<bean name="goodsManager" parent="transactionProxy">
		<property name="target" ref="goodsManagerBase"></property>
	</bean>
	<!--5、 Comment 评论 -->
	<bean id="commentDAOImpl" class="org.express.deliver.dao.impl.CommentDAOImpl"></bean>
	<bean id="commentManagerBase" class="org.express.deliver.manager.impl.CommentManagerImpl">
		<property name="commentDAO" ref="commentDAOImpl"></property>
	</bean>

	<!-- 此处为代理 -->
	<bean name="commentManager" parent="transactionProxy">
		<property name="target" ref="commentManagerBase"></property>
	</bean>
	<!--6、Reply 回复 -->
	<bean id="replyDAOImpl" class="org.express.deliver.dao.impl.ReplyDAOImpl"></bean>
	<bean id="replyManagerBase" class="org.express.deliver.manager.impl.ReplyManagerImpl">
		<property name="replyDAO" ref="replyDAOImpl"></property>
	</bean>

	<!-- 此处为代理 -->
	<bean name="replyManager" parent="transactionProxy">
		<property name="target" ref="replyManagerBase"></property>
	</bean>
	<!--8、City 地区-->
	<bean id="cityDAOImpl" class="org.express.deliver.dao.impl.CityDAOImpl"></bean>
	<bean id="cityManagerBase" class="org.express.deliver.manager.impl.CityManagerImpl">
		<property name="cityDAO" ref="cityDAOImpl"></property>
	</bean>

	<!-- 此处为代理 -->
	<bean name="cityManager" parent="transactionProxy">
		<property name="target" ref="cityManagerBase"></property>
	</bean>
	<!-- 需要文件上传功能时，启用以下配置 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxInMemorySize">
			<value>163840000</value>
		</property>
	</bean>
</beans>
